#pictureContainer{
    width: 500px;
    height: 300px;
    background-color: #E4DCE2;
    cursor: pointer;
    border: black dashed 4px;
    max-width: 1024px;
    max-height: 450px;
    overflow: auto;
    display: table;
}
#pictureContainer.imageLoaded{
    color: rgba(25, 22, 22, 0.71);
    border-color: rgba(49, 46, 46, 0.43);
    border-width: 2px;
    width: auto;
    height: auto;
    display: inline-block;
}
.dropTip{
    margin: 5px;
    text-align:center;
    vertical-align: middle;
    display: table-cell;
    font-size: xx-large;
    font-family: monospace;
}
.dropTipBottom{
    width: 440px;
    margin-left: 50px;
    font-size: large;
    font-family: monospace;
}
.colorViewer{
    width: 60px;
    height: 60px;
    border: solid black 1px;
    padding: 10px;
}
.colorViewer.fixed{
    border-color: red;
}
.error{
    color: red;
}
.rangeSlider{
    position: relative;
    top: 6px;
}
.buttonPanel{
    /*margin: 5px;*/
}

.buttonPanel button{
    margin-bottom: 5px;
}
.colorContainer{
    width: 180px;
}